.contact-info{
    h4{
        border-bottom:1px solid black;
        padding-bottom:1rem;
        margin-bottom:2rem;
    }
    h5{
        margin-top:0;
        margin-bottom:0.5rem;
    }
    .key{
        display: inline-block;
        width:150px;
    }
    .value{
        display: inline-block;
    }
}