/* 퀵배너 */
.quick {position: fixed;right: 12px;top: 185px;border: 1px solid #ddd;border-radius: 10px ;width: 90px;background-color: #fff;z-index: 999999;}
.quick>li {text-align: center;color: #888;font-size: 12px;cursor: pointer;border-bottom: 1px solid #ddd;}
.quick>li:first-child{border: none;background: #808080;border-radius: 10px 10px 0 0}
.quick>li>a{display: block;color: #666;padding: 15px 0 10px; }
.quick>li:first-child a{color: #fff;font-size: 14px;font-weight: 600;line-height: 1.4;padding: 20px 0;}
.quick>li:nth-child(3) a{padding-top: 0;}
.quick .quick__toggle {border: none;margin-top: -16px;}
.quick .quick__toggle a { padding: 0;width: 32px;height: 32px;background: #3c3c3c;border-radius: 10%; display: inline-block;transition: all ease .3s;position: relative;}
.quick .quick__toggle a:before{content: "";display: inline-block;width: 14px;height: 4px;background-color: #fff;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);}
.quick .quick__toggle a:after{content: "";display: inline-block;width: 14px;height: 4px;background-color: #fff;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%) rotate(0deg);transition: all ease .3s;}
.quick .quick__toggle.on a:after{transform:translate(-50%, -50%) rotate(90deg) ;}
.quick>li>a:before{content: "";display: block;background-repeat: no-repeat;background-position: center;margin: 0 auto 4px;}
.quick li:nth-child(1) a:before{background-image: url(/img/common/quick.png);width: 48px;height: 42px;margin-bottom: 10px;}
.quick li:nth-child(3) a:before{background-image: url(/img/common/quick_icon03.png);width: 44px;height: 39px;}
.quick li:nth-child(4) a:before{background-image: url(/img/common/quick_i3_1.png);width: 40px;height: 41px;}
.quick li:nth-child(5) a:before{background-image: url(/img/common/quick_icon04.png);width: 40px;height: 40px;}
.quick li:nth-child(6) a:before{background-image: url(/img/common/quick_icon05.png);width: 41px;height: 44px;}
.quick .quick__top {width: 100%;height: 50px;background-image: url(/img/common/quick_top.png);background-repeat: no-repeat;background-position: center;background-color: #e2e2e2;border-radius: 0 0 10% 10%;}
/* 모달 팝업 */

/* 이용약관/개인정보처리방침 */
.footer__top a {cursor: pointer;}
.footer__modal { position: fixed; box-sizing: border-box;padding: 45px 40px;background-color: #fff; z-index: 9999999;}

.footer__modal h1 { font-size: 1.5em;font-weight: 500;color: #000; margin-bottom: 10px;}
.footer__modal .content_inner {border-top: 1px solid #333;padding: 25px 15px;background-color: #f9f9f9;}
.footer__modal textarea {background-color: #f9f9f9;resize: none;border: none;border-top: 1px solid #333;padding: 25px 15px;width: 100%;box-sizing: border-box;}
.modal2 {width: 920px;top: 50%;left: 50%;transform: translate(-50%, -50%);display: none;opacity: 0;}
.modal_close_btn {position: absolute;top: 0;right: 0;cursor: pointer;}
.modal1 {width: 530px;top: 50%;left: 50%;transform: translate(-50%, -50%);display: none;opacity: 0;}
.modal3 {width: 530px;top: 50%;left: 50%;transform: translate(-50%, -50%);display: none;opacity: 0;}
.footer__modal--layer { position: fixed;top: 0;width: 100%;height: 100vh; background-color: rgba(0, 0, 0, 0.4); display: none;opacity: 0;cursor: pointer;z-index: 998;}

/* 빠른상담신청 */
.quick__modal { width: 380px;height: 500px;top: 50%;left: 50%;transform: translate(-50%, -50%); display: none;opacity: 0;padding: 0;}
.quick__modal .tit{background: #808080;padding: 35px 25px 0;text-align: center;margin: 0 auto;}
.quick__modal .tit h1{font-size: 34px;text-align: center;font-weight: 600;margin: 0;color: #fff;text-shadow: 2px 2px 2px rgba(0,0,0,0.3);display: inline-block;}
.quick__modal .tit p{font-size: 16px;text-align: center;color: #fff;line-height: 1.4;}
.quick__modal .tit .textarea{padding: 15px;background: rgba(256,256,256,.4);border-radius: 5px;margin-top: 15px;}
.quick__modal .tit .textarea p{font-size: 12px;color: #0e3976;text-align: left;line-height: 1.5;}
.quick__modal .modal_close_btn {position: absolute;top: 15px;right: 0;cursor: pointer;width: 35px;height: 35px;}
.quick__modal .modal_close_btn:before{content: "";display: inline-block;width: 1px;height: 35px;background-color: #fff;transform: rotate(-45deg);}
.quick__modal .modal_close_btn:after{content: "";display: inline-block;width: 1px;height: 35px;background-color: #fff;transform: rotate(-135deg);}
.quick__modal .wpcf7-form{background-color: #fff;padding-bottom: 35px;}
.quick__modal .wpcf7-form>p{overflow: hidden;}
.quick__modal .wpcf7-form>p:nth-child(2){vertical-align: middle;text-align: center;background: #808080;padding-bottom: 30px;}
.quick__modal .wpcf7-form>p:nth-child(3){padding: 2px 3px 1px;}
.quick__modal .wpcf7-form>p:nth-child(4){padding: 0 30px 10px;}
.quick__modal .wpcf7-form>p:nth-child(5){margin: 0 auto;text-align: center;}
.quick__modal .wpcf7-form>p:nth-child(2) label:before{display: none;}
.quick__modal .wpcf7-form>p:nth-child(5) label:before{display: none;}
.quick__modal .wpcf7-form>p label{font-size: 18px;display: block;margin-top: 5px;vertical-align: middle;}
.quick__modal .wpcf7-form>p label:before{content: "";display: inline-block;width: 7px;height: 7px;border-radius: 50%;background: #808080;font-size: 18px;vertical-align: middle;}
.quick__modal .wpcf7-form>p>label>span{overflow: hidden;display: inline-block;float: right;margin-top: -5px;}
.quick__modal .wpcf7-form>p:nth-child(2) span{float: none;color: #fff;font-size: 13px;}
.quick__modal .wpcf7-form>p:nth-child(2) span.wpcf7-not-valid-tip{color:#808080;position: relative;}
.quick__modal .wpcf7-form>p:nth-child(2) span.wpcf7-not-valid-tip:after{content: "개인정보처리방침에 동의해주세요.";display: block;text-align: center;color: #fff;position: absolute;top: 0;left: 50%;transform: translateX(-45%);text-decoration: underline;}
.quick__modal .wpcf7-form>p:nth-child(2) span.wpcf7-list-item{margin: 0;}
.quick__modal wpcf7-form>p:nth-child(2) span.wpcf7-list-item input[type=checkbox]{margin: 0 5px 0 0;vertical-align: middle;}
.quick__modal .wpcf7-form>p input[type=text]{width: 250px;background: #f9f9f9;border: 1px solid #cccccc;box-sizing: border-box;border-radius: 3px;display: inline-block;font-size: 16px;padding: 5px;vertical-align: middle;}
.quick__modal .wpcf7-form>p input[type=tel]{width: 250px;background: #f9f9f9;border: 1px solid #cccccc;box-sizing: border-box;border-radius: 3px;display: inline-block;font-size: 16px;padding: 5px;vertical-align: middle;}
.quick__modal .wpcf7-form>p input[type=submit]{font-size: 19px;text-align: center;background: #808080;width: 222px;padding: 12px 0;border: none;margin: 16px auto 0 40px;border: none;border-radius: 30px;color: #fff;}
.quick__modal .wpcf7-not-valid-tip{font-size: 13px;}
.quick__modal .wpcf7 form.invalid .wpcf7-response-output,.quick__modal .wpcf7 form.unaccepted .wpcf7-response-output{border: none;margin: 0;padding: 0;padding-top: 10px;text-align: center;font-size: 1em;color: #f00}
.quick__modal .wpcf7 form.sent .wpcf7-response-output{border: none;margin: 0;padding: 0;padding-top: 10px;font-size: 1em;text-align: center;}


@media all and (max-width: 1080px) {
    .m{display: inline-block !important;}
    .p{display: none !important;}


    /* Start Nav Styles */
    .navbar {display: none;}


    /* 퀵배너 */
    .quick {width: 100%;border-radius: 0;border: none;height: auto !important;right: 0;bottom: 0;min-height: 13vw !important;top: auto;box-shadow: 0 0 18px rgba(0,0,0,0.4);/*display: none;*/}
    .quick li {font-size: 2.6vw;width: 20%;height: 15vw !important;float: left;border-bottom: none;border-right: 1px solid #ddd;box-sizing: border-box;display: block !important;}
    .quick>li:nth-child(2){display: none !important;}
    .quick>li:nth-child(7){border-right: none;}
    .quick>li>a{padding: 2.5vw 0 2vw}
    .quick>li:first-child{border-radius: 0}
    .quick>li:first-child a{font-size: 2.5vw;padding: 5.5vw 0;border-radius: 0;font-weight: 400;background: url(/img/common/quickM3.png) no-repeat center;background-size: 55%;}
    .quick>li:nth-child(3) a{padding: 2.5vw 0 2vw;}
    .quick .quick__toggle {display: none;}
    .quick>li>a:before{margin: 0 auto 0.5vw;background-size: contain;width: 100% !important;height: 6vw !important;}
    .quick li:nth-child(1) a:before{display: none;}
    .quick li:nth-child(3) a:before{background-image: url(/img/common/quick_icon03M.png);}
    .quick li:nth-child(4) a:before{background-image: url(/img/common/quick_i3.png);}
    .quick li:nth-child(5) a:before{background-image: url(/img/common/quick_icon04M.png);}
    .quick li:nth-child(6) a:before{background-image: url(/img/common/quick_icon05M.png);}
    .quick .quick__top {width:0;height: 0 !important;position: fixed;bottom: 12%;right: 3.90625%;/*border-radius: 50%;background-size: 35%;background-color: #7f8085;background-image: url(/img/common/quick_topM.png);border: none;z-index: 999;*/background: none;}
    .quick .quick__top>a.m_tel{width:12vw;height: 12vw !important;position: fixed;bottom: 12%;right: 3.90625%;padding: 0;}
    .quick .quick__top>a.m_tel:before{display: none;}
    .quick .quick__top>a.m_tel img{width: 100%;}

    /* 200821 추가 floating 배너 */
    .quick .tll-group{position: absolute;top: auto;bottom: 13vw;right: -0.5vw;width: 13vw;transform: translateY(0);}
    .quick .tll-group p{display: none;}
    .quick .tll-group p:before{display: none;}
    .quick li ul li{margin-bottom: 0;float: none;width: 100%;height: auto !important;}
    .quick li ul li a{box-shadow: none !important;}
    .quick li ul li a, .quick li ul li a img{width: 100%;}

    /* 이용약관/개인정보처리방침 */
    .footer__modal { bottom: auto; padding: 5%;}
    .footer__modal h1 { font-size: 5vw;margin-bottom: 2vw;}
    .footer__modal .content_inner {padding: 4% 2%;font-size: 3vw;}
    .footer__modal textarea {padding:  4% 2%;font-size: 3vw;}
    .modal2 {width: 80%;left: 50%;bottom:auto;margin: 0;transform: translate(-50%, -50%);top: 50%;}
    .modal2  .content_inner{height: 300px !important;}
    .modal1 {width: 80%;left: 50%;bottom:auto;margin: 0;transform: translate(-50%, -50%);top: 50%;}
    .modal1 .content_inner br{display: none;}
    .footer__modal--layer { height: 100vh;}
    .modal_close_btn{width: 10%;}
    .modal_close_btn img{width: 100%;display: block;}

    .quick__modal { width: 80%;padding: 0;height: auto;}
    .quick__modal .tit h1{font-size: 7vw;padding: 3vw 0;}
    .quick__modal .tit{padding: 2% 5% 2vw;}
    .quick__modal .tit p{font-size: 3vw;}
    .quick__modal .tit .textarea{padding: 4%;margin-top: 3vw;}
    .quick__modal .tit .textarea p{font-size: 3vw}
    .quick__modal .modal_close_btn {top: 2vw;right: 2vw;width: 5%;}
    .quick__modal .modal_close_btn:before{width: 1px;height: 7vw;}
    .quick__modal .modal_close_btn:after{width: 1px;height: 7vw;}

	.quick__modal .wpcf7-form{padding-bottom: 3vw}
	.quick__modal .wpcf7-form>p:nth-child(2){padding-bottom: 5vw}
	.quick__modal .wpcf7-form>p:nth-child(3){padding: 4vw 5% 2vw;}
	.quick__modal .wpcf7-form>p:nth-child(4){padding: 0 5% 1vw;}
	.quick__modal .wpcf7-form>p label{font-size: 3.2vw;margin-top: 1vw;}
	.quick__modal .wpcf7-form>p label:before{width: 1vw;height:1vw;font-size: 3vw;}
	.quick__modal .wpcf7-form>p>label>span{margin-top: -1vw;width: 75%;display: inline-block;}
	.quick__modal .wpcf7-form>p:nth-child(2) span{font-size: 3vw;vertical-align: middle;display: inline-block;}
	.quick__modal .wpcf7-form>p:nth-child(2) span.wpcf7-list-item{margin: 0;}
	.quick__modal .wpcf7-form>p:nth-child(2) span.wpcf7-list-item input[type=checkbox]{margin: 0 1vw 0 0;vertical-align: middle;}
	.quick__modal .wpcf7-form>p:nth-child(2) span.wpcf7-not-valid-tip{width: 100%;}
	.quick__modal .wpcf7-form>p:nth-child(2) span.wpcf7-not-valid-tip:after{width: 100%;transform: translateX(-50%);}
	.quick__modal .wpcf7-form>p input[type=text]{width: 100%;font-size: 3vw;padding: 2%;float: right;}
	.quick__modal .wpcf7-form>p input[type=tel]{width: 100%;font-size: 3vw;padding: 2%;float: right;}
	.quick__modal .wpcf7-form>p input[type=submit]{font-size: 3.5vw;width: 45%;padding: 2vw 0;margin: 3vw auto 2vw 4vw}
	.quick__modal .wpcf7-not-valid-tip{font-size: 2.5vw;clear: both;}
	.quick__modal .wpcf7 form.invalid .wpcf7-response-output,.quick__modal .wpcf7 form.unaccepted .wpcf7-response-output{padding-top:1vw;font-size: 2vw}
	.quick__modal .wpcf7 form.sent .wpcf7-response-output{padding-top: 1vw;font-size: 1em;}

    .lawyer__modal { width: 70%;height: auto;padding: 0;bottom: auto}
    .lawyer__modal h1 { font-size: 4vw;padding:  3vw;margin-bottom: 0;}
    .lawyer__modal .modal_close_btn {top: 1vw;right: 1vw;width: 5vw;height: 5vw;}
    .lawyer__modal .modal_close_btn:before{width: 1px;height: 5.5vw;}
    .lawyer__modal .modal_close_btn:after{width: 1px;height: 5.5vw;}
    .lawyer__modal ul{padding: 4vw 5%;}
    .lawyer__modal ul li{width: 50%;margin-bottom: 2vw;}
    .lawyer__modal ul li .pop_img{width: 8vw;height: 8vw;}
    .lawyer__modal ul li .pop_img img{width: 100%;}
    .lawyer__modal ul li .pop_txt{font-size: 3vw;}
    .lawyer__modal ul li .pop_txt b{font-size: 4vw;padding-left: 1vw;}
	
	
	
	.main-navigation {
	height: 100%;

	.nav-menu {
		height: 100%;
		display: flex;
		align-items: center;

		> li {
			height: 100%;
			display: flex;
			align-items: center;
			padding:0rem 1.5rem;
			&.cta{
				a{
					padding:0.5rem 1.5rem;
					border:1px solid $color-dark;
					&:after{display:none;}
				}
			}
			&:last-child{
				padding-right:0;
			}
			>a{
				padding:0;
				letter-spacing:-0.06rem;
			}
		}
	}

	li ul {
		min-width: 180px;
		margin-top: 2px;
		padding: 10px 0;
		// display:none;
		left: -40px;
		background: rgba(255,255,255,0.8);

		&:before {
			content: "";
			width: 100%;
			height: 2px;
			position: absolute;
			top: -2px;
			left: 0;
		}
		a{
			font-size:1rem;
			color:$color-dark !important;
		}
	}

	li li {
		padding-top: 10px;
		padding-bottom: 10px;
		text-align:center;

		ul {
			margin: 0 0 0 3px;

			&:before {
				top: 0;
				left: -3px;
				height: 100%;
				width: 3px;
			}
		}


	}

	a {
		position: relative;
		z-index: 100;
		font-size:1.1rem;
		font-weight:400;

		&:after {
			content: "";
			position: absolute;
			right: 0;
			bottom: -4px;
			width: 0;
			border-bottom: 1px solid;
			transition: width 0.3s;
		}

		&:hover {
			text-decoration: none;
		}

		i {
			margin-right: 5px;
		}
	}

	a:hover:after,
	li.menu-item-has-children:hover > a:after {
		width: 100%;
		left: 0;
	}
}