.page-nav{
    padding:3.0rem 0 1.0rem;
    ul{
        text-align:center;
        display: flex;
        li{
            flex:auto;
            padding:0 0.2rem;
            &.current-menu-item, &.current-menu-parent{
                a{
                    // color:white;
                    font-weight:400;
                    background: #999;
                    color:white;
                 
                }
            }
            a{
                display: block;
                padding:1rem 0rem;
                font-size:1.125rem;
                letter-spacing:-0.05rem;
                background: #f0f0f0;
                position: relative;
                transition:all 0.3s;

                &:hover{

                }
            }
        }
    }
}