.site-header{
	padding: 0 2rem;
    .container-fluid, .container{
		display: flex;
		align-items: center;
		height: 100%;

	}
	&.dark{
		background:$color-brand;
	}
	&.text-light{
		color:white;
		a{
			color:white;
		}
	}


    &.transparent {
        position: absolute;
        width: 100%;
		z-index: 999;

		&.transparent-hover {
			transition: 0.25s;
		}

		&.transparent-hover.text-dark:hover {
			background: #fff;
		}

		&.transparent-hover.text-light:hover {
			background: $color-dark;
		}
    }


}

@media (min-width: 992px) {

	.is-scrolled{
		header .hamburger-menu .hamburger-box .hamburger-inner{
			background: black;
		}
		header.site-header{
			position: fixed;
			background: rgba(255,255,255,1.0);
			box-shadow:0 1px 3px rgba(0,0,0,0.15);
			.header-main{

				height:80px;
				a{
					color:$color-dark;
				}

				.site-branding{
					.logo{
						
						.logo-light{
							opacity:0;
						}
						img.logo-dark{
							// transform:translateY(8px);

							// height:44px;
							opacity:1;
						}
					}
				}
				.header-account{
					border-color:#ccc;
				}
			}
		}
	}
}

@media (max-width: 992px) {
	 .is-scrolled  {
		header .hamburger-menu .hamburger-box .hamburger-inner{
			background: black;
		}
		.site-header{
			position: fixed;
			background: rgba(255,255,255,1.0);
			box-shadow:0 1px 3px rgba(0,0,0,0.15);
			.header-mobile{

				a{
					color:$color-dark;
				}

				.site-branding{
					.logo{
						
						.logo-light{
							opacity:0;
						}
						img.logo-dark{
							// transform:translateY(8px);

							// height:44px;
							opacity:1;
						}
					}
				}
				.header-account{
					border-color:#ccc;
				}
			}
		}
	}
}






.header-main {
	// padding-top:16px;
	height: 100px;

}

.header-contents {
	position: relative;
}

.header-items {
	display: flex;
	align-items: center;
	height: 100%;

	> * {
		position: relative;
		z-index: 100;
	}
}


.header-left-items {
	flex: 1;
	text-align: left;
	justify-content: flex-start;

	> * {
		margin-right: 30px;
		&:last-child {
			margin-right: 0;
		}
	}

	.main-navigation {
		margin-left: 20px;

		&:first-child {
			margin-left: 0;
		}
	}

	.hamburger-menu:first-child {
		margin-right: 34px;
	}
}

.header-center-items {
	text-align: center;
	justify-content: center;

	> * {
		margin: 0 17px;
	}
}

.header-right-items {
	flex: 1;
	text-align: right;
	justify-content: flex-end;
	> * {
		margin-left: 30px;
		&:first-child {
			margin-left: 0;
		}
	}
	.main-navigation {
		margin-right: 20px;
		&:last-child {
			margin-right: 0;
		}
	}
}

.has-menu > * {
	position: static;
}


.no-sides .header-center-items {
	flex: 1;
}




.site-branding {
	flex: 0 1 auto;
	position: relative;
	z-index: 100;

	.logo {
		position: relative;
		display: block;
		line-height: 1;
		transform:translateY(0px);
		font-size:2rem;
		font-weight:600;

		&:hover {
			text-decoration: none;
		}

		img {
			display: inline-block;
			vertical-align: middle;
			height:65px;
			width:auto;
		}

		svg {
			fill: currentColor;
			vertical-align: middle;
		}
	}

	// .logo-light {
	// 	opacity: 0;
	// 	position: absolute;
	// 	left: 0;
	// 	top: 0;
	// }

}

.text-light {
	.logo-light {
		position: static;
		opacity: 1;
	}

	.logo-dark {
		opacity: 0;
		position: absolute;
		left: 0;
		top: 0;
	}
}

.text-dark {
	.logo-dark {
		position: static;
		opacity: 1;
	}

	.logo-light {
		opacity: 0;
		position: absolute;
		left: 0;
		top: 0;
	}
}



@media (max-width: 959px){
    .header-main {
        display: none;
    }
}


@media (min-width: 960px){
    .header-mobile {
        display: none;
    }
}
