$color-light: #fff;
$color-dark-brand : #000;
$color-brand : #3b5999;
$color-accent:#d29532;
$color-dark: #000;
$color-dark-grey : #444;
$bg-color: $color-light;
$text-color:$color-dark;
$v-spacing:10vh;
$header-height: 80px;
$burger-width: 30px;
$h-gutter:3.3vw;
$easing:cubic-bezier(0.5, 0.7, 0.4, 1);

html{
    font-size:16px;
}

body{
    font-size:1.0rem;
    color:$text-color;

}
@media (min-width: 1400px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1400px;
    }
}
html.wf-loading * {
    opacity: 0;
}

ul{list-style:none;margin:0;padding-left:0;}
img{max-width:100%;height:auto;}

button:focus {outline:0;}

.dark{
    background:#333;
}

.darkgrey{
    background:#666;
}

.grey{
    background:#999;
}

.lightgrey{
    background:#ccc;
}


.with-padding {
    padding: var(--v-spacing) 0;
  }
.with-padding-bottom {
padding-bottom: var(--v-spacing);
}

.fill-background {
    z-index:-1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    will-change: background-color;
    background-color: var(--bg-color);
    transition: background-color 0.7s linear;
  }
  .h100{
    height:100%;
}

.bg-light{
    background-color:#f0f0f0 !important;
}

@media (max-width: 992px) {
     .desktop-only {
       display: none; 
    }
}

@media (min-width: 992px) {
    .mobile-only {
      display: none; 
   }
}