

@font-face {
    font-family: 'BareunBatangPro 1';
    src: url('../font/BareunBatangPro-1.eot');
    src: url('../font/BareunBatangPro-1.eot?#iefix') format('embedded-opentype'),
        url('../font/BareunBatangPro-1.woff2') format('woff2'),
        url('../font/BareunBatangPro-1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.font-weight-medium{
	font-weight:400;
}



.font-weight-light{
	font-weight:300;
}




h1,h2,h3,h4,h5,h6{letter-spacing:-1px; line-height:1.5; margin-top:1rem; margin-bottom:1rem;}
h1,h2,h3{letter-spacing:-1px; font-weight:600;}
h4,h5,h6{letter-spacing:-0.5px;}

h1{font-size:calc(4.0rem); letter-spacing:-2px;}
h2{font-size:calc(2.3rem);}
h3{font-size:calc(2.2rem);}
h3.sm{font-size:calc(1.8rem);}
h4.lg{font-size:1.5rem;}
h4{font-size:calc(1.3rem);}
h5{font-size:calc(1.15rem);}
h6{font-size:calc(1.0rem);}
p,li{font-size:1.12rem ; }

p{
	margin-bottom:1rem;
}

.lead{
	font-weight:400;
}



li.sm, a.sm, p.sm{font-size:calc(0.8rem) ; }

table{
	font-size:1.12rem;
	background:white;
	th{
		font-size:1.15rem;
	}
	td{
		line-height:1.75;
		text-align:center;
	}
}

@media (max-width: 992px) {
	h1{font-size:calc(4.0rem); letter-spacing:-2px;}
	h2{font-size:calc(1.5rem);}
	h3{font-size:calc(1.5rem);}
	h3.sm{font-size:calc(1.25rem);}
	h4.lg{font-size:1.25rem;}
	h4{font-size:calc(1.125rem);}
	h5{font-size:calc(1.0rem);}
	h6{font-size:calc(1.0rem);}
	p,li{font-size:calc(1.0rem);}
	p.lead{
		font-size:calc(1.0rem);
	}

	.pr-4,.pt-4,.pl-4{
		padding:0 !important;
	}
	
}

a{color:$color-dark;text-decoration:none;}
a:hover{color:$color-dark;text-decoration:none;}

.serif{
	font-family: 'BareunBatangPro 1', serif;
}

strong{
	font-weight:600;
}

.lh-200{
	line-height:2.0;
}